# Virtual environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Django
*.log
local_settings.py
media/
staticfiles/

# Project specific
db.sqlite3
